{{#>body}}
	<div class="fixed-screen-holder"></div>
	<div class="screen veil gradient fixed" style="background-image: url('{{background_video_poster}}')">
			<video autoplay loop class="fullvideo">
				<source src="{{background_video}}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
			</video>
			<div class="screen-padder text-center dark full">

				<div class="wedge-3x"></div>
				<h1 class="short large">{{heading}}</h1>
				<h2 class="short">{{tagline}}</h2>
				<div class="badges-holder">
					{{>badges}}
				</div>

				<div class="demo-button-area">
					<div class="wedge-3x"></div>
					<a href="http://demo.endurojs.com/admin" target="_blank" class="btn"><span>Demo</span></a>
					<a href="/docs" class="btn"><span>Documentation</span></a>
				</div>

			</div>
		</div>

		<div class="screen colored">
			<div class="screen-padder">
				<h1>{{features_heading}}</h1>
				<div class="wedge-4x"></div>
				<div class="row feature-row">
					{{#each global.features}}
						<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 feature">
							<i class="fa fa-{{icon}}" aria-hidden="true"></i>
							<h2 class="short">{{title}}</h2>
							<p>{{{linkified_text}}}</p>
						</div>
					{{/each}}
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

{{/body}}