{{#>body}}


	<div class="page-wrapper text-center colored">
		<div class="page-container padded">
			<div class="wedge-5x"></div>
			<h1>enduro.js themes</h1>
			<p>Enduro.js themes are the best way to get you up and running as fast as possible. To learn more about how themes work read the <a href="/docs/themes">themes documentation page</a></p>
			<div class="wedge-5x"></div>
		</div>
	</div>

	<div class="page-wrapper text-center">
		<div class="page-container">
			<div class="row">
				{{#each global.themes}}
					<div class="col-md-6 theme">
						<div class="wedge-3x"></div>
						<img class="img-fluid" src="{{preview_image}}">
						<h2 class="short">{{name}}</h2>
						<p>{{description}}</p>
						<div class="tag_holder">
							{{#each tags}}
								<div class="bubble">{{tag}}</div>
							{{/each}}
						</div>
						<div class="wedge-2x"></div>

						<code>$ enduro theme {{name}}</code>

						<a target="_blank" class="btn ghost icon" href="{{git_repository}}"><i class="fa fa-github small"></i>Github</a>
						<div class="wedge-3x"></div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>


{{/body}}